<div class="content-block">
  <h1><%= @shop.name%> Admin</h1>
  <hr>
  <div class="row">
    <%= link_to 'view orders', admin_shop_orders_path(@shop) %>
  </div>


    <% if @shop.editable_by?(current_user) %>
    </br>
    <%= link_to 'create menu', new_shop_item_path(@shop) %>
    <%= button_to 'edit restaurant', edit_shop_path(@shop), method: :get %>
    <% end %>
</div>
