<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(function() {

  new Highcharts.Chart({
    chart: {
      renderTo: "orders_chart"
    },
    xAxis: {
      type: "datatime",
      text: "Date",
      allowDecimals: false
    },
    yAxis: {
      title: {
        text: "Dollars"
      }
    },
    series: [{
      minTickInterval: 1,
      pointStart: <%= 7.days.ago.day %>,
      data: <%= @seven_day_sales %>
    }]
  });
});


</script>
<div class="upper-block">

  <div class="row show-title">
    <div class="small-4 columns">
      <%= image_tag("meni-large.png") %>
    </div>

    <h1><span><%= @shop.name %></span></h1>



  </div>
</div>
<div class="content-block">

  <br>
  <div class="row">
    <div id="orders_chart">
    </div>
  </div>
  <br>
</div>

