</div>
<div class="home-bg">
  <div class="upper-block">

<div class="row">
      <div class="small-4 small-offset-8 columns">
        <h3>Inroducing the most advanced and user friendly ordering system</h3>

      </div>
    </div>
  </div>
  <div class="middle-block">

  </div>
  <div class="lower-block">
<div class="row">
      <div class="small-4 small-offset-8 columns">

        <%= link_to 'create restaurant', new_shop_path , class: "button" %><br>
<%= link_to 'restaurant list', shops_path, class: "button"%>
      </div>
    </div>
  </div>
  </div>
<div class="row">
</div>
