<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' %>
<script type="text/javascript" charset="utf-8">
$(function() {

  new Highcharts.Chart({
    chart: {
      type: "column",
      renderTo: "items_chart"
    },
    xAxis: {
      categories: <%= raw @item_array %>
    },
    yAxis: {
      title: {
        text: "Dollars"
      }
    },
    series: [{

      data: [1,2,3,5]
    }]
  });
});
</script>
<div class="content-block">
<h1><%= @shop.name %> Restaurant Stats</h1>
<br>
<div id="items_chart">

  </div>
</div>
