/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @import url(https://fonts.googleapis.com/css?family=Questrial);
 @import url(https://fonts.googleapis.com/css?family=Poiret+One);

$darkest-color: #111;
$main-orange: #f07005;
$extra-style-font: 'Poiret One', cursive;
$lightest-non-white: #F8F8F8;
$light-non-white: #E8E8E8;


h1, h2, h3, h4, h5{
  font-family: $extra-style-font;
}

body {
  background-color: $darkest-color;
  font-family: 'Questrial', sans-serif;
}

.white-container {
  border: 30px solid ;
  border-color: $lightest-non-white;
  h4, h3 {
  font-family: 'Questrial', sans-serif;
  color: $main-orange;
  font-weight: lighter;
  }
}
.upper-padding {
  padding-top: 100px;
  padding-bottom: 20px;
}
.secondary-bg {
background-color: $light-non-white;
}

.shop-info {
  padding-top: 40px;
  p {
  margin: 0;
}
}


.show-title {
  position: relative;
  margin-bottom: 30px;
}
.show-title span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-item-block {
border: 1px solid ;
border-color: #D8D8D8 ;
padding:8px;
margin:10px;
}

.home-bg {
 background-image: image-url("warsaw.jpg");
 background-repeat:no-repeat;
 background-size: cover;
 height: 100%;
 color: #FFF !important;
 text-align: right;
 h3 {
  margin-top: 10px;
  color: $main-orange;

}

}
.upper-block {
  background-color: $darkest-color;
  h3 {
    color: $main-orange;
    padding-bottom: 10px;
  }
}

.black-block {
  background-color: $darkest-color;
  h3, h2, h1, p {
    color: $main-orange;
    padding-bottom: 10px;
  }
}
.lower-block {
  background-color: $darkest-color;
  height: 33vh;

}
.home-button-spacing {
  padding-top: 20px;
}

.middle-block {
  height: 33vh;
}


.button {
background-color: rgba(0, 0, 0, 0.0); ;
color: $main-orange;
border: 2px solid ;
border-color: $main-orange;
padding:8px;
margin-top:10px;

}

.top-bar .name h1 a {
  color: $main-orange ;
}

.top-bar-section ul li > a {
  color: $main-orange ;
}
.content-block {
  background-color: $lightest-non-white;
  padding: 15px;
  margin-top: 15px;
  border-style: solid;
  border-color: #f0a205;
  border-width: 1px;
  margin-bottom: 15px;
}

iframe {
  height: 360px;
  width:  100%;
}
