/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.home-bg {
   background: url("../assets/home-bg.jpg");
    background-repeat:no-repeat;
   background-size: cover;
   height: 100%;
   color: #FFF !important;
   text-align: right;
   h3 {
  margin-top: 40px;
   color: #999 !important;
   padding-bottom: 50px;
}

}

body {
  background-color: #E8E8E8 ;
}

.content-block {
  background-color: #F8F8F8 ;
  padding: 15px;
  margin-top: 15px;
   -moz-box-shadow:    5px 5px 5px 6px #ccc;
  -webkit-box-shadow: 5px 5px 5px 6px #ccc;
  box-shadow:         5px 5px 5px 6px #ccc;
}

iframe {
  height: 360px;
  width:  100%;
}
