/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @import url(http://fonts.googleapis.com/css?family=Questrial);
 @import url(http://fonts.googleapis.com/css?family=Poiret+One);
 .menu-item-block {
  border: 1px solid ;
  border-color: #D8D8D8 ;
  padding:8px;
  margin:10px;
 }
 .home-bg {
   background-image: image-url("warsaw.jpg");

   background-repeat:no-repeat;
   background-size: cover;
   height: 100%;
   color: #FFF !important;
   text-align: right;
   h3 {
    margin-top: 40px;
    color: orange !important;
    padding-bottom: 50px;
  }
}
.upper-block {
  background-color: #111;
  height: 33vh;
  h3 {
    margin-top: 40px;
    color: orange !important;
    padding-bottom: 50px;
  }
}
.middle-block {
  height: 33vh;
}
.lower-block {
  background-color: #111;
  height: 33vh;
}

  .button {
  background-color: rgba(0, 0, 0, 0.0); ;
  color: #f07005;
  border: 2px solid ;
  border-color: #f07005;
  padding:8px;
  margin-top:10px;

  }

h1 {
  font-family: 'Poiret One', cursive;
}
h2 {
  font-family: 'Poiret One', cursive;
}

h3 {
  font-family: 'Poiret One', cursive;
}
h4 {
  font-family: 'Poiret One', cursive;
}

h5 {
  font-family: 'Poiret One', cursive;
}
body {
  background-color: #E8E8E8 ;
  font-family: 'Questrial', sans-serif;
}
.top-bar .name h1 a {
  color: #f07005 ;
}

.top-bar-section ul li > a {
  color: #f07005 ;
}
.content-block {
  background-color: #F8F8F8 ;
  padding: 15px;
  margin-top: 15px;
  border-style: solid;
  border-color: #f0a205;
  border-width: 1px;
  margin-bottom: 15px;
}

iframe {
  height: 360px;
  width:  100%;
}
